h1 {
    text-align: center;
    font-size: 80px;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.colorPicker {
    height: 80px;
    width: 80px;
}

button {
    width: 100%;
    font-size: 24px;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px;
    border-radius: 5px;
}

button:hover {
    background-color: grey;
}

.sliderValue {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.grid {
    display: grid;
    width: 600px;
    height: 600px;
    border: solid 2px black;
}

.gridSquare {
    border: dotted 1px black;
}